.div-input{
    width: 80%;
}

.div-input > .form-outline{
    display: inline-block;
}

#main-search-div{
    width: 80%;
    margin-top: 10px;
    text-align: center;
    padding-left: 20%;
}

#main-search-div > .btn:focus{
    box-shadow: none;
}

p > span{
    font-weight:bold;
}

.card{
    transition: transform .1s; /* Animation */
}
.card:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
.notbold{
    font-weight:normal !important
}
#dictionary-content > .row{
    margin-left: 4px;
    margin-right: 4px;
}

/* #advanced{
    display: none;
} */

#divider{
    display: none;
}
#advanced .input-group{
    width: 20% !important
}

#inv-exv{
    display: none;
}
.large{
    display: none;
}